VITE_SUPABASE_URL=https://ictumlksmzjenevtaqvp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljdHVtbGtzbXpqZW5ldnRhcXZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5ODIwMzUsImV4cCI6MjA5NjU1ODAzNX0.EIcFMXSc5ZZPP4yS5LSA-O4wxOWFFj-jKnRh6Y_asIo

